@font-face{
    font-family: 'Lineal';
    src: url("fonts/Lineal/Lineal-Regular.otf");
    font-weight: 150;
    font-style: normal;
}
@font-face{
    font-family: 'Karrik';
    src: url("fonts/Karrik/Karrik-Regular.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Basteulur';
    src: url("fonts/Basteulur/Basteleur-Moonlight.woff");
    font-weight: normal;
    font-style: normal;
}

@keyframes slideinL {
    0% {
        transform: scale(0.1, 1) translateX(-50%);
    }
    100% {
        transform: scale(1, 1) translateX(0);
    }
}

@keyframes slideinD {
    0% {
        transform: scale(1, 0.1) translateY(-50%);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-image:radial-gradient(circle, #5e0202, #610000, #b50303);
    height: 250vh;
    display: flex;
    flex-direction: column;
}

.navigation {
    position: fixed;
    width: 100%;
    height: 8vmin;
    z-index: 10000;
    left: 0;
    top: 0;
    background-color: #feffe4;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}
.navigation.scrolled {
    height: 6vmin;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.navigation li {
    margin-inline: 5vmin;
    margin-top: 1.5vmin;
}
.navigation a {
    position: relative;
    font-family: 'Lineal';
    letter-spacing: 1.5vmin;
    font-size: 4vmin;
    text-decoration: none;
    color: #b50303;
    transition: all 0.5s ease;
}
.navigation li:hover{
    transform: scale(1.2);
}
.navigation.scrolled a {
    font-size: 4vmin;
    letter-spacing: 1vmin;
    top: -1vmin;
}

h1{
    font-family: 'Basteulur';
    color: #feffe4;
    font-size: 18vmin;
    display: flex;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 8vh;
    word-wrap: break-word;
    opacity: 0;
    white-space: normal;
}
.text.visible {
    opacity: 1;
    transition: opacity 0.5s ease;
    animation: fadein 0.5s ease-in forwards;
}

.content_wrapper {
    flex: 1;
}

.pins {
    transition: all 0.5s ease;
    column-count: 3;
    width: 60vmax;
    height: fit-content;
    position: relative;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7b0d0d;
    border-radius: 30px;
}
.pins:hover .cards:not(:hover) {
    filter: grayscale(1) contrast(1.3);
}

.cards-container {
    left: -1vh;
    position: relative;
    display: inline-flex;
    margin: 3vmin;
    max-width: fit-content;
    transition: all 0.2s ease;
    height: auto;
    z-index: 0;
}
.cards-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.cards {
    border-radius: 20px;
    cursor: pointer;
    max-width: 15vw;
    box-shadow: 10px 10px 10px #1e0800;
    opacity: 0;
    z-index: 0;
}
.side.visible {
    opacity: 1;
    animation: slideinL 0.5s ease;
}
.down.visible {
    opacity: 1;
    animation: slideinD 0.5s ease;
}
.cards-container:hover {
    transform: scale(1.15) translate(-1vmin,-2vmin);
    z-index: 1;
}

.tooltip {
    visibility: hidden;
    width: fit-content;
    background-color: #8e0303;
    color: #fff;
    font-family: 'Karrik';
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top : -60px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
}
.tooltip::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #8e0303 transparent transparent transparent;
}

.ending{
    bottom: 0vh;
    text-align: left;
    font-family: 'Lineal';
    font-size: 4vmin;
    letter-spacing: 0.1em;
    color: #feffe4;
    margin: 10vmin;
}


@media (max-aspect-ratio: 1/1) {
    .navigation {
        height: 10vmin;
    }
    .navigation.scrolled {
        height: 6vmin; 
    }
    .navigation li {
        margin-inline: 2vmin;
    }
    .navigation a {
        font-size: 5.5vmin;
        letter-spacing: 1vmin; 
    }
    .navigation.scrolled a{
        font-size: 4vmin;
    }

    h1{
        top: 10vh;
        font-size: 18vmin;
    }

    .pins {
        column-count: 2;
        width: 95vw;
        top: 70vh;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
    }

    .cards-container {
        left: 1vmin;
        max-width: 90vw;
    }
    .cards {
        max-width: 38vw;
        margin-bottom: 2vmin;
        gap: 1vmin;
    }

    .tooltip {
        font-size: 3vmin;
    }
}
